version: 2.1

executors:
  node12:
    docker:
      - image: circleci/node:12
    working_directory: ~/repo

commands:
  build:
    description: "Builds the project"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: npm install 
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - ./node_modules
            - build
      - run:
          name: Run eslint
          command: ./node_modules/.bin/eslint "./src/**/*.{js,ts,tsx}"
      - run:
          name: Build for current environment.
          command: npm run build
          build:
  deploy:
    description: "Deploy"
    steps:
      - run:
          name: Firebase Deploy
          command: ./node_modules/.bin/firebase deploy --token "$FIREBASE_TOKEN" --only hosting,firestore --project=$PROJECT_ID    
jobs:
  build-deploy:
    executor: node12
    steps:
      - build
      - deploy

workflows:
  version: 2
  production:
    jobs:
      - build-deploy:
          filters:
            branches:
              only: master