version: 2.1
  jobs:
    build:
      only:
        - master
    docker:
      - image: circleci/node:12
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: npm install
      - run: npm lint
      - save_cache:
          paths:
            - node_modules
            - ~/.npm 
            - ~/.cache
            - build
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm run-script build
      - run: './node_modules/.bin/firebase deploy --only hosting --token=$FIREBASE_TOKEN'
