version: 2
jobs:
  build:
    only:
      - master
    docker:
      - image: circleci/node:12.9.1-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: npm install
      - run: './node_modules/.bin/eslint "./src/**/*.{js,ts,tsx}"'
      - save_cache:
          paths:
            - node_modules
            - ~/.npm 
            - ~/.cache
            - build
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: npm run-script build
      - run: './node_modules/.bin/firebase deploy --only hosting,firestore:rules,firestore:indexes --project="elearning-react-server" --token=$FIREBASE_TOKEN'
